h1{
    background-color: whitesmoke;
}
.oboy{
    font-size: 20px;
}
.one{ 
font-size: 15px;
}
.two{background-color: skyblue;
font-size: 15px;
}
.three{
font-size: 15px;
}
.four{ 
font-size: 15px; 
}
.five{
font-size: 15px;
}
.font{
background-color:skyblue; color: black;
}
.towhere{
background-color: skyblue;
}
.fromwhere{
    background-color: skyblue;
}
.iamhere{background-color: skyblue;}